/* page layout */
.container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer"
    ;
    width: fit-content;
    position: absolute;

}
div{
    background-color: #F2F2F2;
    border: 2px solid black;
    margin: 10px;
    padding: 40px;
    text-align:center;
}

.heading{
    position: sticky;
    z-index: 1;
    top: 1px;
    grid-area: header;
    background-color: #689D4B;
}

.sidebar{
    grid-area: sidebar;
    background-color: #b0e295;
}
.sidebar{
    position: sticky;
    top: 240px;
    height: fit-content;
    margin-bottom: 308px;

}

.maincontent{
    grid-area: main;
    background-color: #b7d691;
}

.footer{
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    grid-area: footer;
    background-color: #689D4B;
}


/* side bar organization */
.sidebar{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: #6a1cfa
}

/* tables in education and experience  */
tr
{
    background-color: #689D4B;
    color: rgb(251, 253, 252);
}
td
{
    padding: 20px;
}
#tables
{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

html{
    background-color:#D96868;
}
/* summary */
#summary
{
    display: flex;
    border: none;
    background-color: #b7d691;
    flex-direction: rows;
    justify-content: center;
}

hr
{
    scale: .5
}

.summary_element
{
    background-color: #D96868;
    text-align: center;
}
/*skills*/
.skill
{
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    background-color: #b7d691;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    

}
/*decorating list elements*/
.list
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #689D4B;
    color:white;
    padding: 20px;
    align-items: center;
    transition: background-color 3s ease-in,
        font-size 2s ease-in-out,
        transform 5s;
}
.list:hover{
    font-size: larger;
    background-color: #D96868;
    transform: scale(1.2) rotate(3deg);
}

/* project grid*/
.project
{
    display: grid;
    grid-template-areas:
    "title pictures"
    "description pictures";
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto;
    border: none;
    background-color: #b7d691;
    padding:0px;
    color: white;

}

.description
{
    display: flex;
    align-items: center;
    justify-content:center;
    grid-area: description;
    padding: 0px;
    background-color:#D96868 ;
}

.project_title
{
    display: flex;
    align-items: center;
    justify-content:center;
    grid-area: title;
    padding:0px;
    background-color:#D96868;
}
.pictures
{
    display: flex;
    flex-wrap: wrap;
    grid-area: pictures;
    padding: 0px;
    justify-content: center;
    background-color:#D96868;
}
/*decorating pictures*/

img{
    float: right;
    transition: opacity 3s,
        transform 3s;

}
img:hover{
    opacity: 90%;
    transform: scale(1.5);
}


/* resume sevction */
#resume
{
    border-radius: 40px;
    background-color: #D96868;
    
}
/*decorating download*/
.download
{
    background-color: #4b9d4e;
    border-radius: 5%;
    padding: 10px;
    transition: box-shadow 2s, border-radius 3s, background-color 3s; 
}
.download:hover{
    color:rgb(44, 37, 37);
    box-shadow: 5px 5px darkblue;
    background-color: #f1ec70;
}

/*media section */
/*phone screen*/
@media (max-width: 480px){
    .container{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer"
        ;
        width: fit-content;

    }


    .project    
    {
        display: grid;
        grid-template-areas:
        "title"
        "description"
        "pictures";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        scale:.9

    }
    .footer
    {
        display:inline-block;
    }
    div, table{
        font-size: 100%;
    }

    .sidebar{
        flex-direction: row;
        align-items: center;
        font-size: small;
        margin-bottom:  0px;
        height: fit-content;
        position: static
    }
    #resume{
        font-size: small;
    }
    nav :hover{
        font-size: large;
    }

    .experience
    {
        scale:.9
    }

    div{
        margin: 2px;
        padding: 10px;
    }
    #summary
    {
        display: flex;
        background-color: #b7d691;
        flex-direction: column;
    }


  

}
/*tablet */
@media (min-width: 481px) and (max-width: 768px){
    .container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns:auto  ;
    grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer"
    ;
    width: fit-content;
    font-size: larger;

    }

    
    .heading{
        display: inline-block;
        top: 0;

    }

    .project    
    {
        display: grid;
        grid-template-areas:
        "title"
        "description"
        "pictures";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        scale:.9

    }
    div, table{
        font-size: medium;
    }


    .sidebar{
        flex-direction: row;
        align-items: center;
        position: static;
        height: fit-content;
        font-size: small;
        margin-bottom: 0px;

    }

    nav :hover{
        font-size: large;
    }

    .experience
    {
        scale:.9
    }


    div{
        margin: 2px;
        padding: 10px;
    }
    #summary
    {
        display: flex;
        flex-wrap: wrap;
        background-color: #b7d691;
        flex-direction:column;
    }
    .summary_element
    {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
    }

}
/*laptop*/
@media (min-width: 769px) and (max-width: 1024px){
    .container{
        width: fit-content;
        scale: .8,1;
    }
    .project{
        display:inline-block;
        scale:.9;

    }
    #education_experience{
        scale:.9;
    }
    #summary
    {
        display: flex;
        flex-wrap: wrap;
        background-color: #b7d691;
        flex-direction:column;
        scale: .9;
    }
    .maincontent
    {
        display: inline-block;
        width: fit-content;
    }

    
}
